{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Login{% endblock title %}

{% block content %}

    <main role="main" class="container">
        {% block head_content %}<h2>Login</h2>{% endblock head_content %}
        <br><br>

        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            <br><br>
        {% endif %}

        <form method="post" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            <div class="form-row align-items-center">
              <div class="col-md-4">
                  <input type="text" class="form-control mb-2" id="{{ form.username.id_for_label }}" placeholder="username" name="{{ form.username.html_name }}">
              </div>
              <div class="col-md-4">
                  <input type="password" class="form-control mb-2" id="{{ form.password.id_for_label }}" placeholder="password" name="{{ form.password.html_name }}">
              </div>
              <div class="col-md-2">
                <input class="btn btn-small btn-primary form-control mb-2" type="submit" value="login"/>
              </div>
            </div>

            <br><br>

            <input type="hidden" name="next" value="{{ next }}"/>

            <br><br><br>
        </form>
</main>
{% endblock %}
