{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
Profile
{% endblock title %}

{% block extra_head %}
{% endblock extra_head %}

{% block content %}

    <main role="main" class="container">
        <div class="jumbotron">
            <h1>42 Coffee Cups Test Assignment</h1>
            {% if profile %}
            <div class="row">
                <div class="col-md-6">
                    <h2>Main Info</h2>
                    <p><strong>Name: </strong> {{ profile.first_name }}</p>
                    <p><strong>Last Name: </strong> {{ profile.last_name }}</p>
                    <p><strong>Date of birth:</strong> {{ profile.birthday }}</p>
                    <p><strong>Bio: </strong></p>
                    <p>{{ profile.biography|linenumbers|linebreaks }}</p>

                </div>
                <div class="col-md-6">
                    <h2>Contacts</h2>
                    <p><strong>Email: </strong>
                        <a href="mailto:#">
                            <i class="icon-envelope"></i>{{ profile.email }}
                        </a>
                    </p>
                    <p><strong>Jabber: </strong>{{ profile.jabber }}</p>
                    <p><strong>Skype: </strong>{{ profile.skype }}</p>
                    <p><strong>Other contacts: </strong></p>
                    <p>{{ profile.contacts|linenumbers|linebreaks }}</p>


                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-md-12">
                    <h2>The biography in db is not found.</h2>

                </div>
            </div>
            {% endif %}
        </div>
    </main>

{% endblock content %}
