body {
    bottom: 0;
    font-family: 'Arima Madurai', cursive;
}

#loading {
    position: absolute;
    z-index: 100;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    display: none;
    background: url('../img/loader.gif') no-repeat center center;
}

.disable-links {
    pointer-events: none;
}

input[type=number] {
    width: 55px;
}